<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299004297378-du743qchj02tlsva168s5jspeb8juud8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299004297378-du743qchj02tlsva168s5jspeb8juud8</string>
	<key>API_KEY</key>
	<string>AIzaSyAC0Fderqp4SRIRXxO_qek38SjMk0MPvfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>299004297378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junyan.SHTransactionApp</string>
	<key>PROJECT_ID</key>
	<string>shtransactionapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shtransactionapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:299004297378:ios:6e04c180cfa46461fb97fb</string>
</dict>
</plist>
